.places__paragraph{
  margin: 0;
  padding: 0;
  width: 484px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  grid-row: 2/3;
  grid-column: 2/3;
  margin-bottom: 22px;
}

.places__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1279px) {
.places__paragraph{
  max-width: 456px;
}
}

@media screen and (max-width: 1023px) {
.places__paragraph{
  max-width: 352px;
  font-size: 16px;
}
}

@media screen and (max-width: 767px) {
.places__paragraph{
  max-width: 288px;
  font-size: 16px;
  line-height: 26.08px;
}
}