.places__list {
  margin: 0;
  padding: 15px 0 0 130px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
.places__list {
  padding: 0;
}
}