.places__list {
  margin: 0;
  padding: 0;
  padding-left: 164px;
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1279px) {
.places__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
}